<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
<!--COSA FA IL CODICE:
if latest_question_list  == se esiste una lista di domanda, allora creo una lista non ordinara (ul)
                                 i cui elementi sono presi da un ciclo for di python che scorre la collezione di domande
else : allra dico che non esistono domande
NOTARE CHE I COMANDI PYTHON NEL CODICE HTML SONO CONTENUTI IN graffe+segno percentule (NON POSSO SCRIVERLO ESPLICITAMENTE SE NO DA ERRORE LOL)

La variabile latest_question_list viene passata al file HTML attraverso il parametro context nella f in views.py, all'interno
della funzione render di renturn. Il context quindi serve per passare tutte le var del db/python che servono per l'elaborazione HTML
Infatti la var context in views.py è un dictionary che associa un nome (che verrà utilizzato nel HTML per riferirsi a quella
specifica var) alla var che voglio passare

-->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--LINK HARD-CODED, MENO BELLO:
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        -->
        <!--LINK DINAMICO-->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>